body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1a1a1a;
}

section{
    display: flex;
    flex-direction: column;
    margin-top: 15em;

}

.logo{
    display: flex;
    justify-content: center;
    align-items:center
}

.logo>img{
    content: url(./img/illu-Logo-wh.png);
    width: 40%;
}


.start{
    display: flex;
    justify-content: center;
}

#btn-start{
    width: 200px;
    height: 80px;
    border-style: none;
    border-radius: 3.5em;
    margin-top: 3em;
    font-size: 30px;
    font-weight: bold;
}

#btn-start:hover{
    background-color: #682B2B;
}

label{
    color: antiquewhite;
}

canvas{
    background-color: #ffffff;
}