body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1a1a1a;
}

.logo{
    display: flex;
    justify-content: center;
    align-items:center
}

.logo>img{
    content: url(./img/illu-Logo-wh.png);
    width: 40%;
}


.start{
    display: flex;
    justify-content: center;
}

#btn-start{
    width: 200px;
    height: 80px;
    border-style: none;
    border-radius: 3.5em;
    margin-top: 3em;
    font-size: 30px;
    font-weight: bold;
}

#btn-start:hover{
    background-color: #682B2B;
}

.input-wrapper{
    padding: 2em;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.input-wrapper>#write-wrapper{
    height: 600px;
}


canvas{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.generate{
    display: flex;
    justify-content: center;
}

.generate>#btn-gen{
    width: 200px;
    height: 80px;
    border-style: none;
    border-radius: 3.5em;
    font-size: 30px;
    font-weight: bold;
}

