<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>BrickIllust</title>
</head>
<body>
    <section>
        <form class="logo">
            <img >
        </form>
        <form class="start" action="/input">
            <input type="submit" value="시 작 하 기" name="start-service" id="btn-start">
        </form>
    </section>

</body>
</html>