<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>BrickIllust</title>
</head>
<body>
    <section class="container">
        <div class="nav">
            <img class="logo" src={{ url_for('static', filename='img/illustgen-logo.png') }} width="150" height="50">
        </div>
        <div class="input-wrapper">
            <div class="rightside">
                <div id="write-wrapper">
                    <!--text-->
                    <textarea id="summary" name="summary" placeholder="describe your idea using text"></textarea>
                </div>
                <!--submit button-->
                <form class="generate" action="/post" method="post">
                    <input type="submit" value="생 성 하 기" name="gen-pic" id="btn-gen">
                </form>
            </div>
        </div>
    </section>
</body>
</html>