<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>BrickIllust</title>
</head>
<body>
    <section class="container">
        <div class="nav">
            <img class="logo" src={{ url_for('static',filename='img/illu-Logo-wh.png') }} width="150" height="50">
        </div>
        <div class="result-wrapper">
            <div id="image-wrapper">
                <img src="../static/img/sample.png">
            </div>
            <div class  ="rightside">
                <!--submit button-->
                <form class="download">
                    <input type="submit" value="다 운 로 드" name="down-pic" id="btn-down">
                </form>
            </div>
        </div>
    </section>
</body>
</html>